bottleneck
brotlipy
conda
conda-package-handling
dash
importlib-metadata
jupyter
jupyter-contrib-nbextensions
matplotlib
numexpr
olefile
pandas
pip-chill
pylint
pyopenssl
pyqt5
pyqt5-sip
pyqtchart
pysocks
tabulate
tqdm
